.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  width: 220px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.card h3 {
  margin: 5px 0;
}

.year {
  font-size: 0.9em;
  color: #555;
}

.desc {
  font-size: 0.85em;
  color: #666;
}
